/log/
/results/
/snakemake_output/
/genomad_db/
/trash
/vamb_asymmetric
/Airways/
/outdir_plamb/
.snakemake/
core.*
/data/
/sratoolkit*
/__pycache__/
/A/
/benchmark/
/Skin/
/Gastrointestinal/
/Oral/
/output/
/Urogenital/
snakejob*
/bin/
